  <img src= <%=line_item.product.image%> />
  <p><%=line_item.product.name%></p>
  <span><%=line_item.product.description%></span>
  <p>Quantity: <%=line_item.quantity%></p>
  <p>Line Item Total: <%=line_item.total_price_cents%></p>